<!-- 
https://mdbootstrap.com/docs/jquery/modals/forms/
https://bootsnipp.com/snippets/GaZG0
https://getbootstrap.com/docs/3.4/components/#navbar
 -->

{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Secucenter{% else %}Welcome to Security Center{% endif %}
{% endblock %}


<!-- {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lunar.css') }}">

{% endblock %} -->


    {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Automator</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Menu 1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Menu 2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn btn-default navbar-btn" data-target="#modalLoginForm" data-toggle="modal">Sign in</button>
                        {% include 'login.html' %}
                    </li>
                </ul>
            </div>
 
            
        </div>
            

    </nav>
{% endblock %} 


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}